@*
*@
@{
}

<div class="text-center">
    <h1>Get to know Joel</h1>
    <br />
    <h3>Link to Quick Wits Comedy where he performs regularly</h3>
    <a href="https://www.qwcomedy.com/">https://www.qwcomedy.com/</a>
    <br />
    <h3>Link to the Baconsale site</h3>
    <a href="https://baconsale.com/">https://baconsale.com/</a>
    <br />
    <a href="https://baconsale.com/">
        <img src="~/img/baconsale.jpg" />
    </a>
</div>
